:root{
    --primary-color: #275168
    --secondary-color: #F7F4F3 var(--#275168)
    --accent1-color: #600644
    --accent2-color: #C8F9CE var(--#275168)

    heading-font: "Merriweather", serif;
    body-font: "Roboto", sans-serif;


}
* {
    box-sizing: border-box;
    
a {
    text-decoration: none;
   
}
}
body {
    font-family:"Roboto", sans-serif ;
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:"Merriweather", serif;
  color: #600644;

}

header, main, footer {
    max-width: 100%;
    margin: 0 auto;
}

.hero {
    position: relative;
    
}
.hero img {
    display: block;
    width: 100%;
    

    
}
.hero h1 {
    position: absolute;
    top: 0.5rem;
    left: 1px;
    bottom: 18rem;
    right: 1px;
    text-align: center;
    color: #F7F4F3;
    background-color: #275168c3;
}
.hero article {
    position: absolute;
    top: 8rem;
    left: 5rem;
    bottom:4rem;
    right: 5rem;
    color: #600644;
    background-color: #f7f4f365;
    
}
.hero article img {
    float: right;
    width: 17rem;
    height:auto;
    margin: 1rem;
    
}
