nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 600px) {
    nav a {
        font-size: 1.1rem;
        padding: 0.3rem;
    }
}
nav a {
    color: #ffffff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.4rem ;
    font-weight: 700;
}
h1 {
    color: steelblue;
    border-bottom: solid 1px steelblue;
}
img {
    max-width: 100%; /* width: 150px*/
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 1.25rem;
}
header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
    width: 90%;/* None*/
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr; /* None*/
    gap: 1rem;
    align-items: start;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 100%; /* 20rem */
    max-width: 37.5rem; /* None*/
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333 ;
    text-align: center;
    position: relative;
    grid-column:  1/2;
    grid-row: 1/2;
}
aside img {
    width: 25rem;
    height: auto;
}
main img {
    width: 18.75rem;
    height: auto;
}
/*p{ 
    padding: 0;
}*/
footer {  
    margin-top: 1rem;
    border-top: 1px rgba(0, 0, 0, 1);
    text-align: center;
}
@media (max-width:768px) { /*None*/
    .grid{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    aside, main {
        grid-column: 1;
        width: 100%;
        max-width: 100%;/*None*/
        margin: 1 rem auto;/*None*/
    }
    aside{
        grid-row: auto;
        order:1;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    nav a{
        padding: 0.5 rem 0;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}