nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 600px) {
    nav a {
        font-size: 1.1rem;
        padding: 0.3rem;
    }
}
nav a {
    color: #ffffff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem ;
    font-weight: 700;
}
h1 {
    color: steelblue;
    border-bottom: solid 1px steelblue;
}
img {
    width: 9.375rem;
    height: auto;
    border: 1px solid steelblue;
    padding: 0.125rem;
    box-shadow: 0 0 1.875rem gray;
}
p {
    padding: 0.625rem;
}
header, .grid, footer {
    margin: 0 auto;
    max-width: 52.5rem;
}
.grid{
    display: grid;
    grid-template-columns: 22rem 1fr;
    gap: 2rem;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333 ;
    text-align: center;
    position: relative;
    grid-column:  1/2;
    grid-row: 1/2; 
}
aside img {
    width: 12.5rem;
    height: auto;
}
main img {
    width: 9.375rem;
    height: auto;
}
p{ 
    padding: 0;
}
main a{
    padding-left: 0.5rem;
    margin : 0.15rem;}
footer {  
    margin-top: 1rem;
    border-top: 1px rgba(0, 0, 0, 1);
    text-align: center;
}